<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Well Soon</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/medical-records">Medical Records</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <h1>Patient Medical Records</h1>
    
    <p>Doctor : Dr.<%= dataUser.fullName %></p><br>

    <form name="search">
        <input type="text" name="search" id="search" placeholder="Search by Patient Name">
        <button>Search</button>
    </form><br>

    <form name="filter">
        <span>Filter by Diseases</span>
        <select name="filter" id="filter">
            <option value="">All</option>
            <% dataDisease.forEach(el => { %>
                <option value="<%= el.name %>"><%= el.name %></option>
            <% }) %>
        </select>
        <button>Filter</button>
    </form><br><br>

    <a href="/medical-records/add"><button>Add Medical Records</button></a><br><br>
    
    
    <p style="font-weight: 900;">List of your patients medicals records</p>
    <table border="1">
        <thead>
            <th>No</th>
            <th>Patient Name</th>
            <th>Disease Name</th>
            <th>Disease Level</th>
            <th>Date Consultation</th>
            <th>Fee Consultation</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% if (data.length!==0) { %>
                <% data.forEach((el,i) => { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= el.Patient.UserProfile.fullNameGender %></td>
                        <td><%= el.Disease.name %></td>
                        <td><%= el.Disease.level %></td>
                        <td><%= el.formatDate %></td>
                        <td><%= formatCurrency(el.feeConsultation) %></td>
                        <td>
                            <a href="/medical-records/update/<%= el.id %>"><button>Update</button></a>
                            <a href="/medical-records/delete/<%= el.id %>"><button>Delete</button></a>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
            
        </tbody>
    </table>
    
</body>
</html>