<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Well Soon</title>
</head>
<body>
    <h1>Patient Medical Records</h1>

    <p>Doctor : Dr.<%= data[0].Doctor.UserProfile.fullName %></p><br>

    <a href="/medical-records/add"><button>Add Medical Records</button></a>
    
    <p style="font-weight: 900;">List of your patients medicals records</p>
    <table border="1">
        <thead>
            <th>No</th>
            <th>Patient Name</th>
            <th>Disease Name</th>
            <th>Disease Level</th>
            <th>Date Consultation</th>
            <th>Fee Consultation</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% data.forEach((el,i) => { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= el.Patient.UserProfile.fullNameGender %></td>
                    <td><%= el.Disease.name %></td>
                    <td><%= el.Disease.level %></td>
                    <td><%= el.formatDate %></td>
                    <td><%= formatCurrency(el.feeConsultation) %></td>
                    <td>
                        <a href="/medical-records/update/<%= el.id %>"><button>Update</button></a>
                        <a href="/medical-records/delete/<%= el.id %>"><button>Delete</button></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>