<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Well Soon</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Medical Records</a></li>
            <li>You are login as ROLE - NAME</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </nav>

    <h1>Patient Medical Records</h1>

    <p>Name : <%= data[0].Patient.UserProfile.fullNameGender %></p>
    <p>Birth Date : <%= formatDate(data[0].Patient.UserProfile.birthDate) %></p>
    <p>Age : <%= data[0].Patient.UserProfile.currentAge %> tahun</p>
    
    <table border="1">
        <thead>
            <th>No</th>
            <th>Disease Name</th>
            <th>Disease Level</th>
            <th>Date Consultation (yyyy-mm-dd)</th>
            <th>Doctor Name</th>
            <th>Fee Consultation</th>
        </thead>
        <tbody>
            <% data.forEach((el,i) => { %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= el.Disease.name %></td>
                    <td><%= el.Disease.level %></td>
                    <td><%= formatDate(el.dateConsultation) %></td>
                    <td>Dr. <%= el.Doctor.UserProfile.fullName %></td>
                    <td><%= formatCurrency(el.feeConsultation) %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>